html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
header {
    height: 150px;
    width: 100%;
    background-color: #555555;

}
.main{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.column {
    width: 100px;
    height: 100%;
    background-color: #bbbbbb;
}
footer{
    position: absolute;
    bottom: 0px;
    background-color: #000;
    height: 75px;
    width: 100%;
    z-index: -1;
}